/*@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hind+Siliguri:wght@300;400;500;600;700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'hind siliguri';
}

html {
    scroll-behavior: smooth;
}

html,
body {
    background-color: wheat;
    height: 100%;
    width: 100%;
}

:root {
    --white: #ffffff;
    --pure-black: #000;
}


/*=============HOME=============*/

#home {
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/002.jpg");
    display: grid;
    place-content: center;
    color: var(--white);
    font-size: 5rem;
    text-align: center;
}

.home-content {
    font-family: "fira sans";
    padding: 0 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#home h1 {
    font-family: 'lora';
    line-height: 180px;
    /* color: transparent;
    -webkit-text-stroke: 5px var(--white); */
}

#home hr {
    width: 100%;
    height: 3px;
    background-color: var(--white);
}

#home h6 {
    line-height: 50px;
    font-size: 2.2rem;
    font-weight: 300;
}

#home button {
    position: relative;
    cursor: pointer;
    font-size: 1.5rem;
    border: 3px solid var(--white);
    padding: 10px 20px;
    margin: 40px;
    text-align: center;
    border-radius: 3px;
    color: var(--white);
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 5px;
    mix-blend-mode: screen;
    overflow: hidden;
}

#home button:hover {
    color: var(--pure-black);
    font-weight: 700;
}

#home button::before {
    z-index: -1;
    content: '';
    position: absolute;
    display: block;
    width: 0%;
    height: 100%;
    background: var(--white);
    top: 100%;
    left: 0%;
    transform: translateX(-50%);
    border-radius: 50%;
    transition: .25s;
}

#home button:hover::before {
    width: 600px;
    height: 600px;
    top: -200%;
}

#home .scroll-btn {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
    animation: arrow 1.25s infinite;
}

#home .down-arrow {
    width: 25px;
    filter: invert(100%);
    position: absolute;
}

#a1 {
    top: 0px;
}

#a2 {
    top: -15px;
}

@keyframes arrow {
    0% {
        top: 95%;
    }
    50% {
        top: 94%;
    }
    100% {
        top: 95%;
    }
}


/*=========DISCOVER=================*/


/*------------card panel--------------*/

#discover {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, .65), rgba(0, 0, 0, .4)), url('../img/001.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-panel {
    width: 60%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.slider {
    /* background-color: aquamarine; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    min-height: 400px;
    overflow-x: hidden;
    padding-left: 40px;
}

.slider-tile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.slider-tile h1 {
    margin-left: 40px;
    font-size: 3rem;
    color: var(--white);
    cursor: pointer;
}

.slider-tile div button {
    position: relative;
    cursor: pointer;
    font-size: 1.5rem;
    border: 3px solid var(--white);
    padding: 0px 20px;
    margin: 40px;
    text-align: center;
    border-radius: 3px;
    color: var(--white);
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 5px;
    mix-blend-mode: screen;
    overflow: hidden;
}

.slider-tile div button:hover {
    color: var(--pure-black);
    font-weight: 700;
}

.slider-tile div button::before {
    z-index: -1;
    content: '';
    position: absolute;
    display: block;
    width: 0%;
    height: 100%;
    background: var(--white);
    top: 100%;
    left: 0%;
    transform: translateX(-50%);
    border-radius: 50%;
    transition: .25s;
}

.slider-tile div button:hover::before {
    width: 600px;
    height: 600px;
    top: -200%;
}

.card-rad {
    display: none;
}

.card {
    text-align: right;
    position: absolute;
    box-sizing: border-box;
    width: 220px;
    height: 320px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform .75s;
    opacity: .95;
}

.card:hover {
    /* rotate: -1deg; */
    rotate: 0.5deg;
    transition: .1s;
}

.dots {
    display: flex;
    position: absolute;
    bottom: 0;
}

.dot {
    border-radius: 100px;
    margin: 0 8px;
    display: block;
    height: 12px;
    width: 12px;
    background-color: var(--white);
    opacity: .7;
    cursor: pointer;
}


/*---------timeline------------------*/

#discover {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)), url('../img/001.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.timeline-canvas {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, .35);
    width: 100%;
}

.timeline-panel {
    position: relative;
    height: 600px;
    /* background-color: aqua; */
    overflow: hidden;
}

.timeline-panel input {
    display: none;
}

.line-items {
    height: 90%;
    margin-left: 50px;
    width: 250px;
    /* background-color: antiquewhite; */
}

.line {
    height: 100%;
    width: 2px;
    background-color: var(--white);
    position: absolute;
    transform: translate(31px);
}

.timeline-label {
    cursor: pointer;
    position: relative;
    font-size: 1.5rem;
    color: var(--white);
    width: 250px;
    transition: .5s;
}

.timeline-item {
    cursor: pointer;
    position: absolute;
    width: 250px;
    left: 50px;
    transition: .5s;
}

.timeline-label::before {
    transition: .5s;
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    transform: translateX(-200%) translateY(-50%);
    border-radius: 50%;
    display: block;
    background-color: var(--white);
    box-shadow: 0 0 0 5px #ffffff28;
}


/*====== PLACE-DESCRIPTION =======*/

#place-description {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}